@import "../../../../../core/ui/style/reference/media-queries";

.feature-card {
  @include for-small-devices {
    flex-direction: column;

    align-items: center;

    gap: 12px;
  }

  display: flex;
  gap: 32px;

  &__content {
    @include for-small-devices {
      text-align: center;
    }

    display: flex;
    flex-direction: column;

    &__title {
      margin-bottom: 7px;
    }

    &__description {
      margin-bottom: 16px;

      color: var(--dark-gray);
    }

    &__redirection {
      margin-right: 7px;
    }

    &__link {
      color: var(--dark-blue);
    }
  }

  &__icon {
    @include for-medium-devices {
      width: 64px;
      height: 64px;
    }

    @include for-small-devices {
      width: 40px;
      height: 40px;
    }

    width: 92px;
    height: 92px;
  }
}

.feature-card--more {
  @include for-medium-devices {
    align-items: center;
  }

  flex-direction: column;
  gap: 15px;
}
