@font-face {
  font-family: "Aileron";
  src: url("../assets/fonts/Aileron-Regular.otf");

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Aileron";
  src: url("../assets/fonts/Aileron-Regular.otf");

  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Aileron";
  src: url("../assets/fonts/Aileron-SemiBold.otf");

  font-weight: 800;
  font-style: bold;
}

@font-face {
  font-family: "Aileron";
  src: url("../assets/fonts/Aileron-Italic.otf");

  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Aileron";
  src: url("../assets/fonts/Aileron-Regular.otf");

  font-weight: 400;
  font-style: normal;
}
