*,
*:before,
*:after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body {
  color: var(--main-color);

  font-family: var(--font-family);
  font-size: var(--font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--main-color);

  text-decoration: none;
}
