@import "../reference/media-queries";

:root {
  --font-family: "Aileron", sans-serif;
  --font-size: 16px;
}

.typography--h1 {
  @include for-medium-devices {
    font-size: 46px;
    line-height: 58px;
    letter-spacing: 0.8px;
  }

  @include for-small-devices {
    font-size: 34px;
    line-height: 46px;
    letter-spacing: 0.6px;
  }

  font-size: 60px;
  font-weight: 800;
  line-height: 72px;
  letter-spacing: 1px;
}

.typography--body {
  @include for-medium-devices {
    font-size: 16px;
    line-height: 26px;
  }

  @include for-small-devices {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0;
  }

  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.2px;
}

.typography--subtitle {
  @include for-medium-devices {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.4px;
  }

  @include for-small-devices {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.3px;
  }

  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  line-height: 22px;
  letter-spacing: 0.4px;
}

.typography--small {
  @include for-medium-devices {
    font-size: 14px;
    letter-spacing: 0.2px;
  }

  @include for-small-devices {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.2px;
  }

  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.2px;
}
